{% extends 'base.html.twig' %}

{% block body %}
    {{parent()}}
    <h1>Roles list</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td><a href="{{ path('roles_show', { 'id': role.id }) }}">{{ role.id }}</a></td>
                <td>{{ role.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('roles_show', { 'id': role.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <ul>
            <li>
                <a href="{{ path('roles_create') }}">Create a new rol</a>
            </li>
        </ul>
    {% endif %}
    
{% endblock %}
